In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re # regex operations

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

**A PEEK AT THE DATASET**

In [2]:
# Reading the .csv file
df = pd.read_csv('Data.csv', index_col = False)

In [3]:
df.dtypes

Country Name     object
Country Code     object
Series Name      object
Series Code      object
1960 [YR1960]    object
                  ...
2016 [YR2016]    object
2017 [YR2017]    object
2018 [YR2018]    object
2019 [YR2019]    object
2020 [YR2020]    object
Length: 65, dtype: object

In [4]:
df.shape

(1448, 65)

In [5]:
df.size

94120

In [6]:
df.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1960 [YR1960]', '1961 [YR1961]', '1962 [YR1962]', '1963 [YR1963]',
       '1964 [YR1964]', '1965 [YR1965]', '1966 [YR1966]', '1967 [YR1967]',
       '1968 [YR1968]', '1969 [YR1969]', '1970 [YR1970]', '1971 [YR1971]',
       '1972 [YR1972]', '1973 [YR1973]', '1974 [YR1974]', '1975 [YR1975]',
       '1976 [YR1976]', '1977 [YR1977]', '1978 [YR1978]', '1979 [YR1979]',
       '1980 [YR1980]', '1981 [YR1981]', '1982 [YR1982]', '1983 [YR1983]',
       '1984 [YR1984]', '1985 [YR1985]', '1986 [YR1986]', '1987 [YR1987]',
       '1988 [YR1988]', '1989 [YR1989]', '1990 [YR1990]', '1991 [YR1991]',
       '1992 [YR1992]', '1993 [YR1993]', '1994 [YR1994]', '1995 [YR1995]',
       '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]',
       '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]',
       '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]',
       '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]',
       '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]',
       '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]',
       '2020 [YR2020]'],
      dtype='object')

In [7]:
df.head(10)

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,India,IND,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,..,..,..,..,..,..,...,35.42,36.64,37.81,38.8,39.88,41.04,..,..,..,..
1,India,IND,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,..,...,67.6,79.9,80.7380447387695,83.5852127075195,88,89.5348815917969,92.4568328857422,95.1932983398438,97.8152847290039,..
2,India,IND,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,..,..,..,..,..,..,...,56.086077638855,72.4040107597965,73.3363680663111,77.1202220299779,83.3679321086777,85.1752673357353,89.1008289701358,92.8253521089913,96.6659820678055,..
3,India,IND,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,..,..,..,..,..,..,...,92.9,96.1,96.4644393920898,97.0837554931641,97.5,98.3137588500977,99.0889358520508,99.7837600708008,100,..
4,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,..,..,..,..,..,..,...,35.2318382263184,..,..,53.1415519714355,..,..,79.8753280639648,..,..,..
5,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,..,..,..,..,..,..,...,26.4905014038086,..,..,43.1326103210449,..,..,76.6396331787109,..,..,..
6,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.MA.ZS,..,..,..,..,..,..,...,43.7370758056641,..,..,62.7633628845215,..,..,83.0089950561523,..,..,..
7,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.OL.ZS,..,..,..,..,..,..,...,38.0260620117188,..,..,56.8119773864746,..,..,83.0843124389648,..,..,..
8,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.40.ZS,..,..,..,..,..,..,...,26.9714508056641,..,..,43.6106758117676,..,..,77.0829467773438,..,..,..
9,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.PL.ZS,..,..,..,..,..,..,...,30.5149230957031,..,..,43.3534088134766,..,..,75.3695449829102,..,..,..

In [8]:
df.tail(10)

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
1438,India,IND,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,..,..,..,..,..,..,...,..,..,..,..,..,13.3,..,..,..,..
1439,India,IND,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,..,..,..,..,..,..,...,..,..,..,..,..,5.4,..,..,..,..
1440,India,IND,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,..,..,..,..,..,..,...,..,..,..,..,..,25.3,..,..,..,..
1441,India,IND,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1442,India,IND,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1446,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1447,Last Updated: 09/15/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
temp = list()
for i in df.columns:
    temp.append((df[i].nunique(), i))
    
temp.sort()
temp

[(1, 'Country Code'),
 (3, 'Country Name'),
 (268, '1960 [YR1960]'),
 (314, '1961 [YR1961]'),
 (325, '1962 [YR1962]'),
 (327, '1963 [YR1963]'),
 (329, '1964 [YR1964]'),
 (330, '1966 [YR1966]'),
 (333, '1965 [YR1965]'),
 (335, '1968 [YR1968]'),
 (337, '1967 [YR1967]'),
 (340, '1969 [YR1969]'),
 (366, '2020 [YR2020]'),
 (416, '1970 [YR1970]'),
 (471, '1972 [YR1972]'),
 (477, '1973 [YR1973]'),
 (499, '1974 [YR1974]'),
 (503, '1971 [YR1971]'),
 (557, '1979 [YR1979]'),
 (566, '1978 [YR1978]'),
 (569, '1975 [YR1975]'),
 (569, '1976 [YR1976]'),
 (583, '1980 [YR1980]'),
 (584, '1977 [YR1977]'),
 (588, '1985 [YR1985]'),
 (593, '1984 [YR1984]'),
 (596, '1982 [YR1982]'),
 (600, '1983 [YR1983]'),
 (602, '1986 [YR1986]'),
 (608, '1989 [YR1989]'),
 (611, '1981 [YR1981]'),
 (613, '1988 [YR1988]'),
 (640, '1987 [YR1987]'),
 (702, '1990 [YR1990]'),
 (717, '1998 [YR1998]'),
 (721, '1991 [YR1991]'),
 (730, '1992 [YR1992]'),
 (744, '1995 [YR1995]'),
 (745, '1993 [YR1993]'),
 (747, '1996 [YR1996]'),
 (760, '1994 [YR1994]'),
 (772, '1997 [YR1997]'),
 (793, '2019 [YR2019]'),
 (800, '1999 [YR1999]'),
 (885, '2002 [YR2002]'),
 (891, '2003 [YR2003]'),
 (892, '2001 [YR2001]'),
 (894, '2004 [YR2004]'),
 (898, '2008 [YR2008]'),
 (905, '2007 [YR2007]'),
 (914, '2018 [YR2018]'),
 (922, '2009 [YR2009]'),
 (925, '2006 [YR2006]'),
 (927, '2015 [YR2015]'),
 (928, '2005 [YR2005]'),
 (935, '2017 [YR2017]'),
 (948, '2016 [YR2016]'),
 (949, '2013 [YR2013]'),
 (957, '2011 [YR2011]'),
 (961, '2014 [YR2014]'),
 (974, '2000 [YR2000]'),
 (980, '2010 [YR2010]'),
 (981, '2012 [YR2012]'),
 (1443, 'Series Code'),
 (1443, 'Series Name')]

In [10]:
df.drop('Country Code', axis = 1, inplace = True)
df.drop('Country Name', axis = 1, inplace = True)
df.drop('Series Code', axis = 1, inplace = True)

In [11]:
df.drop(df.tail(5).index, inplace = True)

In [12]:
df.set_index("Series Name", inplace = True)
df = np.transpose(df)

In [13]:
temp_df = df
percentages = list()
for i in temp_df.columns:
    count = 0
    for j in temp_df[i]:
        if j != '..':
            count += 1
    percentages.append((count*100/temp_df.shape[0], i))
    
percentages.sort()

for i in percentages:
    if i[0] < 100:
        temp_df.drop(i[1], inplace = True, axis = 1)

temp_df

Series Name,Age dependency ratio (% of working-age population),"Age dependency ratio, old (% of working-age population)","Age dependency ratio, young (% of working-age population)","Agriculture, forestry, and fishing, value added (% of GDP)","Agriculture, forestry, and fishing, value added (constant 2010 US$)","Agriculture, forestry, and fishing, value added (constant LCU)","Agriculture, forestry, and fishing, value added (current LCU)","Agriculture, forestry, and fishing, value added (current US$)",Arms imports (SIPRI trend indicator values),Broad money (% of GDP),...,Taxes less subsidies on products (constant LCU),Taxes less subsidies on products (current LCU),Taxes less subsidies on products (current US$),Terms of trade adjustment (constant LCU),"Total reserves (includes gold, current US$)",Total reserves minus gold (current US$),Trade (% of GDP),Urban population,Urban population (% of total population),Wholesale price index (2010 = 100)
1960 [YR1960],76.9990446166511,5.39346077102455,71.6055838456265,41.3128390639122,80552374532.5939,3985661717529.84,72848004918.69,15298096331.0212,544000000,22.0719249368892,...,339060962521.92,9691460468.66829,2035208733.62907,29709103693.1857,674536630.92578,423000000,11.2968331126113,80756165,17.924,3.06838052854559
1961 [YR1961],78.0071064405409,5.51858466722465,72.4885217733162,40.3874016121362,80620205627.6293,3989017941357,75452121701.83,15844961402.3457,1122000000,21.5018727925336,...,395249817790.82,10970504083.33,2303808161.30746,29653882427.3582,666357094.860707,418000000,10.2611625947938,82882675,18.032,3.14197637153915
1962 [YR1962],79.1875305726612,5.64495556786929,73.5425750047919,38.3713352032108,79016590065.6508,3909672432399.64,77037654060.57,16177923530.6432,371000000,21.9307027141433,...,465967794937.3,12737597298.0061,2674898107.47939,29481939953.0587,512791844.004694,265000000,10.2007901790973,85456483,18.218,3.25520074528831
1963 [YR1963],80.3047250510323,5.75293559878801,74.5517894522443,39.3197513062973,80864987405.3657,4001129531689.8,90663623058.68,19039379881.7027,647000000,21.1162826557738,...,562860803501.15,15686038783.5774,3294071438.62269,31959625152.4435,607862500.361696,360000000,10.1873378431737,88127852,18.405,3.37408633766831
1964 [YR1964],80.9989516979179,5.81803156964743,75.1809201282704,41.1877383326384,88324195975.7271,4370204710596.29,110775860797.09,23262954030.3429,920000000,19.8063983000643,...,594620412379.38,17899335064.4431,3758864122.39717,29878398490.4386,499145125.789702,251000000,9.41054892011691,90901311,18.595,3.72508189629071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016 [YR2016],50.8881370260245,8.74141020658705,42.1467268194374,16.3638005613987,348834805086.428,17260043995504.9,25186620206644.9,375516164817.583,3003000000,74.5492653519452,...,9799085988959.18,14264688252382.1,212677246129.266,-880933721647.98,361694321972.036,341145194692.363,40.0824857132672,439501314,33.182,122.940363305373
2017 [YR2017],50.2896371909076,8.9919993377127,41.2976378531949,16.5583314047008,371878558541.151,18400228955980.8,28298258513598,439039677566.764,2909000000,74.1441893624663,...,11104116310086,15843771496069.5,245811745826.454,332623788331.027,412613792019.924,389350147912.134,40.7424969545204,449795398,33.6,127.167193085027
2018 [YR2018],49.7751668865187,9.25603886697997,40.5191280195387,15.9701574808791,381402188258.698,18871449905051.6,30162767614857.9,431371805443.68,1485000000,74.1476948535112,...,12591137346787.5,17257441677141.9,246806721076.241,-1052161036165.64,399167159226.682,374425187183.508,43.5986571563396,460304169,34.03,132.592398780232
2019 [YR2019],49.2452418099917,9.5187483146847,39.726493495307,16.6774623971688,397858801418.936,19685708869527.2,33940325229228.7,478727241339.248,3075000000,76.0459639203596,...,12977970486181.2,18896696381142.5,266537320071.971,903908105853.504,463469902152.507,432378384523.969,39.3867710424728,471031529,34.472,135.091337704907
2020 [YR2020],48.6646203053887,9.77304664014027,38.8915736652485,18.3189877325451,409927948767.943,20282879826079.2,35879863419786.4,480504068092.914,2799000000,88.8760753324799,...,9973871826207.06,18050400487295.1,241731434798.846,879203339536.121,590227359928.896,549086868074.865,36.469883365812,481980332,34.926,146.345357149148

In [14]:
df.columns

Index(['Age dependency ratio (% of working-age population)',
       'Age dependency ratio, old (% of working-age population)',
       'Age dependency ratio, young (% of working-age population)',
       'Agriculture, forestry, and fishing, value added (% of GDP)',
       'Agriculture, forestry, and fishing, value added (constant 2010 US$)',
       'Agriculture, forestry, and fishing, value added (constant LCU)',
       'Agriculture, forestry, and fishing, value added (current LCU)',
       'Agriculture, forestry, and fishing, value added (current US$)',
       'Arms imports (SIPRI trend indicator values)', 'Broad money (% of GDP)',
       ...
       'Taxes less subsidies on products (constant LCU)',
       'Taxes less subsidies on products (current LCU)',
       'Taxes less subsidies on products (current US$)',
       'Terms of trade adjustment (constant LCU)',
       'Total reserves (includes gold, current US$)',
       'Total reserves minus gold (current US$)', 'Trade (% of GDP)',
       'Urban population', 'Urban population (% of total population)',
       'Wholesale price index (2010 = 100)'],
      dtype='object', name='Series Name', length=190)

In [16]:
df.describe()

Series Name,Age dependency ratio (% of working-age population),"Age dependency ratio, old (% of working-age population)","Age dependency ratio, young (% of working-age population)","Agriculture, forestry, and fishing, value added (% of GDP)","Agriculture, forestry, and fishing, value added (constant 2010 US$)","Agriculture, forestry, and fishing, value added (constant LCU)","Agriculture, forestry, and fishing, value added (current LCU)","Agriculture, forestry, and fishing, value added (current US$)",Arms imports (SIPRI trend indicator values),Broad money (% of GDP),...,Taxes less subsidies on products (constant LCU),Taxes less subsidies on products (current LCU),Taxes less subsidies on products (current US$),Terms of trade adjustment (constant LCU),"Total reserves (includes gold, current US$)",Total reserves minus gold (current US$),Trade (% of GDP),Urban population,Urban population (% of total population),Wholesale price index (2010 = 100)
count,61,61,61,61,61,61,61,61,61,61,...,61,61,61,61,61,61,61,61,61,61
unique,61,61,61,61,61,61,61,61,61,61,...,61,61,61,61,61,61,61,61,61,61
top,79.9527457826968,6.52363153498534,68.6845047897665,38.9521434757491,348834805086.428,10658370956500,300540060920.34,24923928060.2093,2275000000,28.0306374166901,...,594620412379.38,937796914200,246806721076.241,-13108825615.5645,1245821898.02245,549086868074.865,26.9009229100702,409907903,19.991,78.0963712076145
freq,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1