In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('Data.csv')

In [2]:
df.head()

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,India,IND,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,..,..,..,..,..,..,...,35.42,36.64,37.81,38.8,39.88,41.04,..,..,..,..
1,India,IND,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,..,...,67.6,79.9,80.7380447387695,83.5852127075195,88,89.5348815917969,92.4568328857422,95.1932983398438,97.8152847290039,..
2,India,IND,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,..,..,..,..,..,..,...,56.086077638855,72.4040107597965,73.3363680663111,77.1202220299779,83.3679321086777,85.1752673357353,89.1008289701358,92.8253521089913,96.6659820678055,..
3,India,IND,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,..,..,..,..,..,..,...,92.9,96.1,96.4644393920898,97.0837554931641,97.5,98.3137588500977,99.0889358520508,99.7837600708008,100,..
4,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,..,..,..,..,..,..,...,35.2318382263184,..,..,53.1415519714355,..,..,79.8753280639648,..,..,..

In [3]:
df.describe()

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
count,1445,1443,1443,1443,1443,1443,1443,1443,1443,1443,...,1443,1443,1443,1443,1443,1443,1443,1443,1443,1443
unique,3,1,1443,1443,268,314,325,327,329,333,...,957,981,949,961,927,948,935,914,793,366
top,India,IND,"Death rate, crude (per 1,000 people)",SE.PRM.PRS5.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
freq,1443,1443,1,1,1166,1124,1113,1111,1108,1104,...,426,422,446,454,480,458,467,481,616,1069

In [4]:
df.shape

(1448, 65)

In [5]:
df.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1960 [YR1960]', '1961 [YR1961]', '1962 [YR1962]', '1963 [YR1963]',
       '1964 [YR1964]', '1965 [YR1965]', '1966 [YR1966]', '1967 [YR1967]',
       '1968 [YR1968]', '1969 [YR1969]', '1970 [YR1970]', '1971 [YR1971]',
       '1972 [YR1972]', '1973 [YR1973]', '1974 [YR1974]', '1975 [YR1975]',
       '1976 [YR1976]', '1977 [YR1977]', '1978 [YR1978]', '1979 [YR1979]',
       '1980 [YR1980]', '1981 [YR1981]', '1982 [YR1982]', '1983 [YR1983]',
       '1984 [YR1984]', '1985 [YR1985]', '1986 [YR1986]', '1987 [YR1987]',
       '1988 [YR1988]', '1989 [YR1989]', '1990 [YR1990]', '1991 [YR1991]',
       '1992 [YR1992]', '1993 [YR1993]', '1994 [YR1994]', '1995 [YR1995]',
       '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]',
       '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]',
       '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]',
       '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]',
       '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]',
       '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]',
       '2020 [YR2020]'],
      dtype='object')

In [6]:
df[df.isnull()==True].count().sum()

0

In [7]:
df[df['Country Code']=='IND']

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,India,IND,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,..,..,..,..,..,..,...,35.42,36.64,37.81,38.8,39.88,41.04,..,..,..,..
1,India,IND,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,..,...,67.6,79.9,80.7380447387695,83.5852127075195,88,89.5348815917969,92.4568328857422,95.1932983398438,97.8152847290039,..
2,India,IND,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,..,..,..,..,..,..,...,56.086077638855,72.4040107597965,73.3363680663111,77.1202220299779,83.3679321086777,85.1752673357353,89.1008289701358,92.8253521089913,96.6659820678055,..
3,India,IND,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,..,..,..,..,..,..,...,92.9,96.1,96.4644393920898,97.0837554931641,97.5,98.3137588500977,99.0889358520508,99.7837600708008,100,..
4,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,..,..,..,..,..,..,...,35.2318382263184,..,..,53.1415519714355,..,..,79.8753280639648,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1438,India,IND,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,..,..,..,..,..,..,...,..,..,..,..,..,13.3,..,..,..,..
1439,India,IND,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,..,..,..,..,..,..,...,..,..,..,..,..,5.4,..,..,..,..
1440,India,IND,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,..,..,..,..,..,..,...,..,..,..,..,..,25.3,..,..,..,..
1441,India,IND,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1442,India,IND,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [8]:
c = df.columns
factors = df[df.columns[2]]
factors.unique()[25]

'Adjusted net national income per capita (current US$)'

In [9]:
import matplotlib.pyplot as plt

In [10]:
data = pd.DataFrame()

In [11]:
len(c)

65

Preprocessing and EDA:
1)Convert '..' to Null
2)Extract rows with atleast 33% filled data in a dataframe
3)Outlier Analysis [transform data if necessary eg: Yeo-Johnson,min-max,log,sqrt]
4)Plot curves[scatter plots,box plots, pairplots, violin plots]
5)Correlation Analysis[Heat map, spurilious correlation, correlation coeffiecients]
6)Chi-Square Test[Data Indipendence]
7)Hypothesis testing

Regression Analysis, Prediction:
Linear,Multiple,Lasso : Train on data from 1960-2010 predict for 2011-2020

In [12]:
years = c[4:65]
years

Index(['1960 [YR1960]', '1961 [YR1961]', '1962 [YR1962]', '1963 [YR1963]',
       '1964 [YR1964]', '1965 [YR1965]', '1966 [YR1966]', '1967 [YR1967]',
       '1968 [YR1968]', '1969 [YR1969]', '1970 [YR1970]', '1971 [YR1971]',
       '1972 [YR1972]', '1973 [YR1973]', '1974 [YR1974]', '1975 [YR1975]',
       '1976 [YR1976]', '1977 [YR1977]', '1978 [YR1978]', '1979 [YR1979]',
       '1980 [YR1980]', '1981 [YR1981]', '1982 [YR1982]', '1983 [YR1983]',
       '1984 [YR1984]', '1985 [YR1985]', '1986 [YR1986]', '1987 [YR1987]',
       '1988 [YR1988]', '1989 [YR1989]', '1990 [YR1990]', '1991 [YR1991]',
       '1992 [YR1992]', '1993 [YR1993]', '1994 [YR1994]', '1995 [YR1995]',
       '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]',
       '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]',
       '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]',
       '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]',
       '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]',
       '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]',
       '2020 [YR2020]'],
      dtype='object')

In [13]:
indicators = df[c[2]]

In [14]:
indicators = indicators.unique()

In [15]:
df.dtypes

Country Name     object
Country Code     object
Series Name      object
Series Code      object
1960 [YR1960]    object
                  ...
2016 [YR2016]    object
2017 [YR2017]    object
2018 [YR2018]    object
2019 [YR2019]    object
2020 [YR2020]    object
Length: 65, dtype: object

In [16]:
new_df=df[df['Country Code']=='IND']
new_df=new_df.replace("..",np.nan)
new_df

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,India,IND,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,35.42,36.64,37.81,38.8,39.88,41.04,NaN,NaN,NaN,NaN
1,India,IND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,67.6,79.9,80.7380447387695,83.5852127075195,88,89.5348815917969,92.4568328857422,95.1932983398438,97.8152847290039,NaN
2,India,IND,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,56.086077638855,72.4040107597965,73.3363680663111,77.1202220299779,83.3679321086777,85.1752673357353,89.1008289701358,92.8253521089913,96.6659820678055,NaN
3,India,IND,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,92.9,96.1,96.4644393920898,97.0837554931641,97.5,98.3137588500977,99.0889358520508,99.7837600708008,100,NaN
4,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,35.2318382263184,NaN,NaN,53.1415519714355,NaN,NaN,79.8753280639648,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1438,India,IND,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,13.3,NaN,NaN,NaN,NaN
1439,India,IND,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.4,NaN,NaN,NaN,NaN
1440,India,IND,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,25.3,NaN,NaN,NaN,NaN
1441,India,IND,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1442,India,IND,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
num_of_year_cols = len(years)
totalNones=new_df.iloc[:,4:].isnull().sum(axis=1)
new_df["Total_Null_Values"]=totalNones
no_null_df = new_df[new_df["Total_Null_Values"]<=0*num_of_year_cols] # contains no null values
null_df = new_df[new_df["Total_Null_Values"]<=(2/3)*num_of_year_cols] # contains atleast 33% data

In [18]:
no_null_df

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],Total_Null_Values
54,India,IND,Age dependency ratio (% of working-age populat...,SP.POP.DPND,76.9990446166511,78.0071064405409,79.1875305726612,80.3047250510323,80.9989516979179,81.1221770746329,...,54.3078443292764,53.3542663643901,52.4483667977637,51.6434416967877,50.8881370260245,50.2896371909076,49.7751668865187,49.2452418099917,48.6646203053887,0
55,India,IND,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,5.39346077102455,5.51858466722465,5.64495556786929,5.75293559878801,5.81803156964743,5.83090823246553,...,8.12537045112334,8.22589671530142,8.35202955457644,8.5142267070789,8.74141020658705,8.9919993377127,9.25603886697997,9.5187483146847,9.77304664014027,0
56,India,IND,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,71.6055838456265,72.4885217733162,73.5425750047919,74.5517894522443,75.1809201282704,75.2912688421674,...,46.182473878153,45.1283696490886,44.0963372431872,43.1292149897088,42.1467268194374,41.2976378531949,40.5191280195387,39.726493495307,38.8915736652485,0
68,India,IND,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,41.3128390639122,40.3874016121362,38.3713352032108,39.3197513062973,41.1877383326384,38.9521434757491,...,16.8453770659702,17.148423543466,16.7919345145807,16.17450810661,16.3638005613987,16.5583314047008,15.9701574808791,16.6774623971688,18.3189877325451,0
70,India,IND,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.KD,80552374532.5939,80620205627.6293,79016590065.6508,80864987405.3657,88324195975.7271,78571264180.8532,...,308066871406.892,325227661483.916,324523712093.284,326631815894.239,348834805086.428,371878558541.151,381402188258.698,397858801418.936,409927948767.943,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1353,India,IND,Total reserves minus gold (current US$),FI.RES.XGLD.CD,423000000,418000000,265000000,360000000,251000000,319000000,...,270586506917.185,276493267092.374,303454874927.27,334310993025.188,341145194692.363,389350147912.134,374425187183.508,432378384523.969,549086868074.865,0
1355,India,IND,Trade (% of GDP),NE.TRD.GNFS.ZS,11.2968331126113,10.2611625947938,10.2007901790973,10.1873378431737,9.41054892011691,8.51903436966277,...,55.7937217287347,53.8441319466811,48.9221857470489,41.9229138658757,40.0824857132672,40.7424969545204,43.5986571563396,39.3867710424728,36.469883365812,0
1413,India,IND,Urban population,SP.URB.TOTL,80756165,82882675,85456483,88127852,90901311,93760317,...,400416922,409907903,419567353,429428650,439501314,449795398,460304169,471031529,481980332,0
1414,India,IND,Urban population (% of total population),SP.URB.TOTL.IN.ZS,17.924,18.032,18.218,18.405,18.595,18.785,...,31.634,32.003,32.384,32.777,33.182,33.6,34.03,34.472,34.926,0
1429,India,IND,Wholesale price index (2010 = 100),FP.WPI.TOTL,3.06838052854559,3.14197637153915,3.25520074528831,3.37408633766831,3.72508189629071,4.03078770547005,...,117.472032781688,123.832177940201,127.98468983362,123.005391455829,122.940363305373,127.167193085027,132.592398780232,135.091337704907,146.345357149148,0

In [19]:
features = no_null_df[no_null_df.columns[2]].unique()

In [20]:
features

array(['Age dependency ratio (% of working-age population)',
       'Age dependency ratio, old (% of working-age population)',
       'Age dependency ratio, young (% of working-age population)',
       'Agriculture, forestry, and fishing, value added (% of GDP)',
       'Agriculture, forestry, and fishing, value added (constant 2010 US$)',
       'Agriculture, forestry, and fishing, value added (constant LCU)',
       'Agriculture, forestry, and fishing, value added (current LCU)',
       'Agriculture, forestry, and fishing, value added (current US$)',
       'Arms imports (SIPRI trend indicator values)',
       'Broad money (% of GDP)', 'Broad money (current LCU)',
       'Broad money to total reserves ratio',
       'Changes in inventories (constant LCU)',
       'Changes in inventories (current LCU)',
       'Changes in inventories (current US$)',
       'Claims on central government, etc. (% GDP)',
       'Consumer price index (2010 = 100)',
       'DEC alternative conversion factor (LCU per US$)',
       'Discrepancy in expenditure estimate of GDP (current LCU)',
       'Domestic credit to private sector (% of GDP)',
       'Domestic credit to private sector by banks (% of GDP)',
       'Exports as a capacity to import (constant LCU)',
       'Exports of goods and services (% of GDP)',
       'Exports of goods and services (constant 2010 US$)',
       'Exports of goods and services (constant LCU)',
       'Exports of goods and services (current LCU)',
       'Exports of goods and services (current US$)',
       'External balance on goods and services (% of GDP)',
       'External balance on goods and services (current LCU)',
       'External balance on goods and services (current US$)',
       'Final consumption expenditure (% of GDP)',
       'Final consumption expenditure (constant 2010 US$)',
       'Final consumption expenditure (constant LCU)',
       'Final consumption expenditure (current LCU)',
       'Final consumption expenditure (current US$)',
       'Fixed telephone subscriptions',
       'Fixed telephone subscriptions (per 100 people)',
       'GDP (constant 2010 US$)', 'GDP (constant LCU)',
       'GDP (current LCU)', 'GDP (current US$)',
       'GDP deflator (base year varies by country)',
       'GDP per capita (constant 2010 US$)',
       'GDP per capita (constant LCU)', 'GDP per capita (current LCU)',
       'GDP per capita (current US$)',
       'General government final consumption expenditure (% of GDP)',
       'General government final consumption expenditure (constant 2010 US$)',
       'General government final consumption expenditure (constant LCU)',
       'General government final consumption expenditure (current LCU)',
       'General government final consumption expenditure (current US$)',
       'GNI (constant 2010 US$)', 'GNI (constant LCU)',
       'GNI (current LCU)', 'GNI (current US$)',
       'GNI per capita (constant 2010 US$)',
       'GNI per capita (constant LCU)', 'GNI per capita (current LCU)',
       'Gross capital formation (% of GDP)',
       'Gross capital formation (constant 2010 US$)',
       'Gross capital formation (constant LCU)',
       'Gross capital formation (current LCU)',
       'Gross capital formation (current US$)',
       'Gross domestic income (constant LCU)',
       'Gross domestic savings (% of GDP)',
       'Gross domestic savings (current LCU)',
       'Gross domestic savings (current US$)',
       'Gross fixed capital formation (% of GDP)',
       'Gross fixed capital formation (constant 2010 US$)',
       'Gross fixed capital formation (constant LCU)',
       'Gross fixed capital formation (current LCU)',
       'Gross fixed capital formation (current US$)',
       'Gross national expenditure (% of GDP)',
       'Gross national expenditure (constant 2010 US$)',
       'Gross national expenditure (constant LCU)',
       'Gross national expenditure (current LCU)',
       'Gross national expenditure (current US$)',
       'Gross national expenditure deflator (base year varies by country)',
       'Gross value added at basic prices (GVA) (constant 2010 US$)',
       'Gross value added at basic prices (GVA) (constant LCU)',
       'Gross value added at basic prices (GVA) (current LCU)',
       'Gross value added at basic prices (GVA) (current US$)',
       'Households and NPISHs final consumption expenditure (% of GDP)',
       'Households and NPISHs Final consumption expenditure (constant 2010 US$)',
       'Households and NPISHs Final consumption expenditure (constant LCU)',
       'Households and NPISHs Final consumption expenditure (current LCU)',
       'Households and NPISHs Final consumption expenditure (current US$)',
       'Households and NPISHs Final consumption expenditure per capita (constant 2010 US$)',
       'Imports of goods and services (% of GDP)',
       'Imports of goods and services (constant 2010 US$)',
       'Imports of goods and services (constant LCU)',
       'Imports of goods and services (current LCU)',
       'Imports of goods and services (current US$)',
       'Industry (including construction), value added (% of GDP)',
       'Industry (including construction), value added (constant 2010 US$)',
       'Industry (including construction), value added (constant LCU)',
       'Industry (including construction), value added (current LCU)',
       'Industry (including construction), value added (current US$)',
       'Inflation, consumer prices (annual %)',
       'Manufacturing, value added (% of GDP)',
       'Manufacturing, value added (constant 2010 US$)',
       'Manufacturing, value added (constant LCU)',
       'Manufacturing, value added (current LCU)',
       'Manufacturing, value added (current US$)',
       'Merchandise exports (current US$)',
       'Merchandise imports (current US$)',
       'Merchandise trade (% of GDP)', 'Military expenditure (% of GDP)',
       'Military expenditure (current USD)',
       'Monetary Sector credit to private sector (% GDP)',
       'Net primary income (Net income from abroad) (current LCU)',
       'Net primary income (Net income from abroad) (current US$)',
       'Official exchange rate (LCU per US$, period average)',
       'Population ages 00-04, female (% of female population)',
       'Population ages 00-04, male (% of male population)',
       'Population ages 0-14 (% of total population)',
       'Population ages 0-14, female',
       'Population ages 0-14, female (% of female population)',
       'Population ages 0-14, male',
       'Population ages 0-14, male (% of male population)',
       'Population ages 0-14, total',
       'Population ages 05-09, female (% of female population)',
       'Population ages 05-09, male (% of male population)',
       'Population ages 10-14, female (% of female population)',
       'Population ages 10-14, male (% of male population)',
       'Population ages 15-19, female (% of female population)',
       'Population ages 15-19, male (% of male population)',
       'Population ages 15-64 (% of total population)',
       'Population ages 15-64, female',
       'Population ages 15-64, female (% of female population)',
       'Population ages 15-64, male',
       'Population ages 15-64, male (% of male population)',
       'Population ages 15-64, total',
       'Population ages 20-24, female (% of female population)',
       'Population ages 20-24, male (% of male population)',
       'Population ages 25-29, female (% of female population)',
       'Population ages 25-29, male (% of male population)',
       'Population ages 30-34, female (% of female population)',
       'Population ages 30-34, male (% of male population)',
       'Population ages 35-39, female (% of female population)',
       'Population ages 35-39, male (% of male population)',
       'Population ages 40-44, female (% of female population)',
       'Population ages 40-44, male (% of male population)',
       'Population ages 45-49, female (% of female population)',
       'Population ages 45-49, male (% of male population)',
       'Population ages 50-54, female (% of female population)',
       'Population ages 50-54, male (% of male population)',
       'Population ages 55-59, female (% of female population)',
       'Population ages 55-59, male (% of male population)',
       'Population ages 60-64, female (% of female population)',
       'Population ages 60-64, male (% of male population)',
       'Population ages 65 and above (% of total population)',
       'Population ages 65 and above, female',
       'Population ages 65 and above, female (% of female population)',
       'Population ages 65 and above, male',
       'Population ages 65 and above, male (% of male population)',
       'Population ages 65 and above, total',
       'Population ages 65-69, female (% of female population)',
       'Population ages 65-69, male (% of male population)',
       'Population ages 70-74, female (% of female population)',
       'Population ages 70-74, male (% of male population)',
       'Population ages 75-79, female (% of female population)',
       'Population ages 75-79, male (% of male population)',
       'Population ages 80 and above, female (% of female population)',
       'Population ages 80 and above, male (% of male population)',
       'Population in largest city',
       'Population in the largest city (% of urban population)',
       'Population in urban agglomerations of more than 1 million',
       'Population in urban agglomerations of more than 1 million (% of total population)',
       'Population, female', 'Population, female (% of total population)',
       'Population, male', 'Population, male (% of total population)',
       'Population, total', 'Rural population',
       'Rural population (% of total population)',
       'Services, value added (% of GDP)',
       'Services, value added (constant 2010 US$)',
       'Services, value added (constant LCU)',
       'Services, value added (current LCU)',
       'Taxes less subsidies on products (constant LCU)',
       'Taxes less subsidies on products (current LCU)',
       'Taxes less subsidies on products (current US$)',
       'Terms of trade adjustment (constant LCU)',
       'Total reserves (includes gold, current US$)',
       'Total reserves minus gold (current US$)', 'Trade (% of GDP)',
       'Urban population', 'Urban population (% of total population)',
       'Wholesale price index (2010 = 100)'], dtype=object)

We have too many features too work with, we must reduce it to only necessary features

In [21]:
red_features = []
population = []
for i in features:
    if 'LCU' not in i and 'constant' not in i:
        red_features.append(i)
    if 'population' in i.lower():
        population.append(i)

In [22]:
red_features

['Age dependency ratio (% of working-age population)',
 'Age dependency ratio, old (% of working-age population)',
 'Age dependency ratio, young (% of working-age population)',
 'Agriculture, forestry, and fishing, value added (% of GDP)',
 'Agriculture, forestry, and fishing, value added (current US$)',
 'Arms imports (SIPRI trend indicator values)',
 'Broad money (% of GDP)',
 'Broad money to total reserves ratio',
 'Changes in inventories (current US$)',
 'Claims on central government, etc. (% GDP)',
 'Consumer price index (2010 = 100)',
 'Domestic credit to private sector (% of GDP)',
 'Domestic credit to private sector by banks (% of GDP)',
 'Exports of goods and services (% of GDP)',
 'Exports of goods and services (current US$)',
 'External balance on goods and services (% of GDP)',
 'External balance on goods and services (current US$)',
 'Final consumption expenditure (% of GDP)',
 'Final consumption expenditure (current US$)',
 'Fixed telephone subscriptions',
 'Fixed telephone subscriptions (per 100 people)',
 'GDP (current US$)',
 'GDP deflator (base year varies by country)',
 'GDP per capita (current US$)',
 'General government final consumption expenditure (% of GDP)',
 'General government final consumption expenditure (current US$)',
 'GNI (current US$)',
 'Gross capital formation (% of GDP)',
 'Gross capital formation (current US$)',
 'Gross domestic savings (% of GDP)',
 'Gross domestic savings (current US$)',
 'Gross fixed capital formation (% of GDP)',
 'Gross fixed capital formation (current US$)',
 'Gross national expenditure (% of GDP)',
 'Gross national expenditure (current US$)',
 'Gross national expenditure deflator (base year varies by country)',
 'Gross value added at basic prices (GVA) (current US$)',
 'Households and NPISHs final consumption expenditure (% of GDP)',
 'Households and NPISHs Final consumption expenditure (current US$)',
 'Imports of goods and services (% of GDP)',
 'Imports of goods and services (current US$)',
 'Industry (including construction), value added (% of GDP)',
 'Industry (including construction), value added (current US$)',
 'Inflation, consumer prices (annual %)',
 'Manufacturing, value added (% of GDP)',
 'Manufacturing, value added (current US$)',
 'Merchandise exports (current US$)',
 'Merchandise imports (current US$)',
 'Merchandise trade (% of GDP)',
 'Military expenditure (% of GDP)',
 'Military expenditure (current USD)',
 'Monetary Sector credit to private sector (% GDP)',
 'Net primary income (Net income from abroad) (current US$)',
 'Population ages 00-04, female (% of female population)',
 'Population ages 00-04, male (% of male population)',
 'Population ages 0-14 (% of total population)',
 'Population ages 0-14, female',
 'Population ages 0-14, female (% of female population)',
 'Population ages 0-14, male',
 'Population ages 0-14, male (% of male population)',
 'Population ages 0-14, total',
 'Population ages 05-09, female (% of female population)',
 'Population ages 05-09, male (% of male population)',
 'Population ages 10-14, female (% of female population)',
 'Population ages 10-14, male (% of male population)',
 'Population ages 15-19, female (% of female population)',
 'Population ages 15-19, male (% of male population)',
 'Population ages 15-64 (% of total population)',
 'Population ages 15-64, female',
 'Population ages 15-64, female (% of female population)',
 'Population ages 15-64, male',
 'Population ages 15-64, male (% of male population)',
 'Population ages 15-64, total',
 'Population ages 20-24, female (% of female population)',
 'Population ages 20-24, male (% of male population)',
 'Population ages 25-29, female (% of female population)',
 'Population ages 25-29, male (% of male population)',
 'Population ages 30-34, female (% of female population)',
 'Population ages 30-34, male (% of male population)',
 'Population ages 35-39, female (% of female population)',
 'Population ages 35-39, male (% of male population)',
 'Population ages 40-44, female (% of female population)',
 'Population ages 40-44, male (% of male population)',
 'Population ages 45-49, female (% of female population)',
 'Population ages 45-49, male (% of male population)',
 'Population ages 50-54, female (% of female population)',
 'Population ages 50-54, male (% of male population)',
 'Population ages 55-59, female (% of female population)',
 'Population ages 55-59, male (% of male population)',
 'Population ages 60-64, female (% of female population)',
 'Population ages 60-64, male (% of male population)',
 'Population ages 65 and above (% of total population)',
 'Population ages 65 and above, female',
 'Population ages 65 and above, female (% of female population)',
 'Population ages 65 and above, male',
 'Population ages 65 and above, male (% of male population)',
 'Population ages 65 and above, total',
 'Population ages 65-69, female (% of female population)',
 'Population ages 65-69, male (% of male population)',
 'Population ages 70-74, female (% of female population)',
 'Population ages 70-74, male (% of male population)',
 'Population ages 75-79, female (% of female population)',
 'Population ages 75-79, male (% of male population)',
 'Population ages 80 and above, female (% of female population)',
 'Population ages 80 and above, male (% of male population)',
 'Population in largest city',
 'Population in the largest city (% of urban population)',
 'Population in urban agglomerations of more than 1 million',
 'Population in urban agglomerations of more than 1 million (% of total population)',
 'Population, female',
 'Population, female (% of total population)',
 'Population, male',
 'Population, male (% of total population)',
 'Population, total',
 'Rural population',
 'Rural population (% of total population)',
 'Services, value added (% of GDP)',
 'Taxes less subsidies on products (current US$)',
 'Total reserves (includes gold, current US$)',
 'Total reserves minus gold (current US$)',
 'Trade (% of GDP)',
 'Urban population',
 'Urban population (% of total population)',
 'Wholesale price index (2010 = 100)']

In [23]:
len(red_features)

124

In [24]:
len(population)

68

In [25]:
population

['Age dependency ratio (% of working-age population)',
 'Age dependency ratio, old (% of working-age population)',
 'Age dependency ratio, young (% of working-age population)',
 'Population ages 00-04, female (% of female population)',
 'Population ages 00-04, male (% of male population)',
 'Population ages 0-14 (% of total population)',
 'Population ages 0-14, female',
 'Population ages 0-14, female (% of female population)',
 'Population ages 0-14, male',
 'Population ages 0-14, male (% of male population)',
 'Population ages 0-14, total',
 'Population ages 05-09, female (% of female population)',
 'Population ages 05-09, male (% of male population)',
 'Population ages 10-14, female (% of female population)',
 'Population ages 10-14, male (% of male population)',
 'Population ages 15-19, female (% of female population)',
 'Population ages 15-19, male (% of male population)',
 'Population ages 15-64 (% of total population)',
 'Population ages 15-64, female',
 'Population ages 15-64, female (% of female population)',
 'Population ages 15-64, male',
 'Population ages 15-64, male (% of male population)',
 'Population ages 15-64, total',
 'Population ages 20-24, female (% of female population)',
 'Population ages 20-24, male (% of male population)',
 'Population ages 25-29, female (% of female population)',
 'Population ages 25-29, male (% of male population)',
 'Population ages 30-34, female (% of female population)',
 'Population ages 30-34, male (% of male population)',
 'Population ages 35-39, female (% of female population)',
 'Population ages 35-39, male (% of male population)',
 'Population ages 40-44, female (% of female population)',
 'Population ages 40-44, male (% of male population)',
 'Population ages 45-49, female (% of female population)',
 'Population ages 45-49, male (% of male population)',
 'Population ages 50-54, female (% of female population)',
 'Population ages 50-54, male (% of male population)',
 'Population ages 55-59, female (% of female population)',
 'Population ages 55-59, male (% of male population)',
 'Population ages 60-64, female (% of female population)',
 'Population ages 60-64, male (% of male population)',
 'Population ages 65 and above (% of total population)',
 'Population ages 65 and above, female',
 'Population ages 65 and above, female (% of female population)',
 'Population ages 65 and above, male',
 'Population ages 65 and above, male (% of male population)',
 'Population ages 65 and above, total',
 'Population ages 65-69, female (% of female population)',
 'Population ages 65-69, male (% of male population)',
 'Population ages 70-74, female (% of female population)',
 'Population ages 70-74, male (% of male population)',
 'Population ages 75-79, female (% of female population)',
 'Population ages 75-79, male (% of male population)',
 'Population ages 80 and above, female (% of female population)',
 'Population ages 80 and above, male (% of male population)',
 'Population in largest city',
 'Population in the largest city (% of urban population)',
 'Population in urban agglomerations of more than 1 million',
 'Population in urban agglomerations of more than 1 million (% of total population)',
 'Population, female',
 'Population, female (% of total population)',
 'Population, male',
 'Population, male (% of total population)',
 'Population, total',
 'Rural population',
 'Rural population (% of total population)',
 'Urban population',
 'Urban population (% of total population)']

Too many population features, manually selected the important ones

In [26]:
selected_pop = ['Age dependency ratio (% of working-age population)',
                'Population ages 0-14, total',
                'Population ages 15-64 (% of total population)',
                'Population, female',
                 'Population, female (% of total population)',
                'Population, male',
                 'Population, male (% of total population)',
                 'Population, total',
                'Rural population',
                 'Rural population (% of total population)',
                 'Urban population',
                 'Urban population (% of total population)'
               ]

In [27]:
final_features = []
for i in red_features:
    if i not in population:
        final_features.append(i)
final_features = final_features + selected_pop

In [28]:
len(final_features)

68

In [29]:
final_features

['Agriculture, forestry, and fishing, value added (% of GDP)',
 'Agriculture, forestry, and fishing, value added (current US$)',
 'Arms imports (SIPRI trend indicator values)',
 'Broad money (% of GDP)',
 'Broad money to total reserves ratio',
 'Changes in inventories (current US$)',
 'Claims on central government, etc. (% GDP)',
 'Consumer price index (2010 = 100)',
 'Domestic credit to private sector (% of GDP)',
 'Domestic credit to private sector by banks (% of GDP)',
 'Exports of goods and services (% of GDP)',
 'Exports of goods and services (current US$)',
 'External balance on goods and services (% of GDP)',
 'External balance on goods and services (current US$)',
 'Final consumption expenditure (% of GDP)',
 'Final consumption expenditure (current US$)',
 'Fixed telephone subscriptions',
 'Fixed telephone subscriptions (per 100 people)',
 'GDP (current US$)',
 'GDP deflator (base year varies by country)',
 'GDP per capita (current US$)',
 'General government final consumption expenditure (% of GDP)',
 'General government final consumption expenditure (current US$)',
 'GNI (current US$)',
 'Gross capital formation (% of GDP)',
 'Gross capital formation (current US$)',
 'Gross domestic savings (% of GDP)',
 'Gross domestic savings (current US$)',
 'Gross fixed capital formation (% of GDP)',
 'Gross fixed capital formation (current US$)',
 'Gross national expenditure (% of GDP)',
 'Gross national expenditure (current US$)',
 'Gross national expenditure deflator (base year varies by country)',
 'Gross value added at basic prices (GVA) (current US$)',
 'Households and NPISHs final consumption expenditure (% of GDP)',
 'Households and NPISHs Final consumption expenditure (current US$)',
 'Imports of goods and services (% of GDP)',
 'Imports of goods and services (current US$)',
 'Industry (including construction), value added (% of GDP)',
 'Industry (including construction), value added (current US$)',
 'Inflation, consumer prices (annual %)',
 'Manufacturing, value added (% of GDP)',
 'Manufacturing, value added (current US$)',
 'Merchandise exports (current US$)',
 'Merchandise imports (current US$)',
 'Merchandise trade (% of GDP)',
 'Military expenditure (% of GDP)',
 'Military expenditure (current USD)',
 'Monetary Sector credit to private sector (% GDP)',
 'Net primary income (Net income from abroad) (current US$)',
 'Services, value added (% of GDP)',
 'Taxes less subsidies on products (current US$)',
 'Total reserves (includes gold, current US$)',
 'Total reserves minus gold (current US$)',
 'Trade (% of GDP)',
 'Wholesale price index (2010 = 100)',
 'Age dependency ratio (% of working-age population)',
 'Population ages 0-14, total',
 'Population ages 15-64 (% of total population)',
 'Population, female',
 'Population, female (% of total population)',
 'Population, male',
 'Population, male (% of total population)',
 'Population, total',
 'Rural population',
 'Rural population (% of total population)',
 'Urban population',
 'Urban population (% of total population)']

In [30]:
series = no_null_df[no_null_df.columns[2] ]

In [31]:
new_no_null_df = no_null_df[no_null_df["Series Name"].isin(final_features)]

In [33]:
new_no_null_df=new_no_null_df.iloc[:,:-1]

In [34]:
new_no_null_df

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
54,India,IND,Age dependency ratio (% of working-age populat...,SP.POP.DPND,76.9990446166511,78.0071064405409,79.1875305726612,80.3047250510323,80.9989516979179,81.1221770746329,...,55.2086374217727,54.3078443292764,53.3542663643901,52.4483667977637,51.6434416967877,50.8881370260245,50.2896371909076,49.7751668865187,49.2452418099917,48.6646203053887
68,India,IND,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,41.3128390639122,40.3874016121362,38.3713352032108,39.3197513062973,41.1877383326384,38.9521434757491,...,17.1919735574898,16.8453770659702,17.148423543466,16.7919345145807,16.17450810661,16.3638005613987,16.5583314047008,15.9701574808791,16.6774623971688,18.3189877325451
73,India,IND,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.CD,15298096331.0212,15844961402.3457,16177923530.6432,19039379881.7027,23262954030.3429,23197892400.7476,...,313418261522.406,307872488771.924,318398573401.943,342408945451.421,340244981474.714,375516164817.583,439039677566.764,431371805443.68,478727241339.248,480504068092.914
96,India,IND,Arms imports (SIPRI trend indicator values),MS.MIL.MPRT.KD,544000000,1122000000,371000000,647000000,920000000,1049000000,...,3598000000,4392000000,5381000000,3347000000,3117000000,3003000000,2909000000,1485000000,3075000000,2799000000
128,India,IND,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,22.0719249368892,21.5018727925336,21.9307027141433,21.1162826557738,19.8063983000643,20.8286159029793,...,78.837311286536,76.9131885205522,78.1821717320646,77.8993537588478,78.0119105841837,74.5492653519452,74.1441893624663,74.1476948535112,76.0459639203596,88.8760753324799
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1353,India,IND,Total reserves minus gold (current US$),FI.RES.XGLD.CD,423000000,418000000,265000000,360000000,251000000,319000000,...,271285421552.138,270586506917.185,276493267092.374,303454874927.27,334310993025.188,341145194692.363,389350147912.134,374425187183.508,432378384523.969,549086868074.865
1355,India,IND,Trade (% of GDP),NE.TRD.GNFS.ZS,11.2968331126113,10.2611625947938,10.2007901790973,10.1873378431737,9.41054892011691,8.51903436966277,...,55.6238800135119,55.7937217287347,53.8441319466811,48.9221857470489,41.9229138658757,40.0824857132672,40.7424969545204,43.5986571563396,39.3867710424728,36.469883365812
1413,India,IND,Urban population,SP.URB.TOTL,80756165,82882675,85456483,88127852,90901311,93760317,...,391040056,400416922,409907903,419567353,429428650,439501314,449795398,460304169,471031529,481980332
1414,India,IND,Urban population (% of total population),SP.URB.TOTL.IN.ZS,17.924,18.032,18.218,18.405,18.595,18.785,...,31.276,31.634,32.003,32.384,32.777,33.182,33.6,34.03,34.472,34.926
1429,India,IND,Wholesale price index (2010 = 100),FP.WPI.TOTL,3.06838052854559,3.14197637153915,3.25520074528831,3.37408633766831,3.72508189629071,4.03078770547005,...,109.470553242118,117.472032781688,123.832177940201,127.98468983362,123.005391455829,122.940363305373,127.167193085027,132.592398780232,135.091337704907,146.345357149148